################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/node_board/node_modules
/node_board/bin
/.vs/node_board/v16/.suo
/node_board/obj/Debug
